@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Passion+One:wght@400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");



@import "tailwindcss";

@layer utilities {
  .bg-hero-bg {
    background-image: url('/images/homebg.png');
  }
  .bg-about-bg {
    background-image: url('/images/aboutBg.png');
  }
    .oluchi-bg {
    background-image: url('/images/oluchi1.png');
  }
}

@theme {

    --font-league: "League Spartan", sans-serif;
  --font-mono: monospace;
  
  --breakpoint-sm: 640px;

  /* md and lg use the same breakpoint */
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1280px;

  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
